.circle {
  position: absolute;
  height: 55px;
  box-shadow: 1px 1px 5px #f3eded;
  width: 55px;
  background-color: #ffe99a;
  border-radius: 50%;
  top: calc(40vh);
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  animation: zoom-in-zoom-out 10s ease infinite;
}

/* animation */
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0.7, 0.7);
  }

  50% {
    transform: scale(2.5, 2.5);
  }

  100% {
    transform: scale(0.7, 0.7);
  }
}

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Poppins", sans-serif;
}

body {
  display: block;
  background: #ac5f6a;
  min-height: 100vh;
}


.content h2 {
  color: #fff;
  font-size: 5em;
  position: absolute;
  top: calc(20vh);
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.content-small-par{
  font-family:'Cinzel', Courier, monospace;
  color: aliceblue;
  position: absolute;
  top: calc(32vh);
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 0.5px #e7e9ff;
}

.content h2:nth-child(2) {
  color: #959BDA;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {

  0%,
  100% {
    clip-path: polygon(0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%);
  }
}

@media (min-width:320px) and (max-width:639px){
  .content h2 {
    font-size: 3em;
  }

  .content-small-par{
    font-size: 0.7em;
  }
}


.carousel-item-visible{
  font-family: Prata, Helvetica, sans-serif;
  color: #fff;
  font-size: 0.9em;
  text-align:center;
  width: calc(60vw);
}

.move-on-btn{
  cursor: pointer;
  font-family:'Cinzel', Times, serif;
  font-size: calc(2);
  width: max-content;
  padding: 2px 8px;
  border: 0.1px solid white;
  background-color: transparent;
  color: white;
  position: absolute;
  top: calc(52vh);
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 5px;
}
.move-on-btn:hover{
  font-size: 16px;
}


.info-carousel{
  display: flex;
  position: absolute;
  top: calc(55vh);
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: calc(70vw);
  
}


.carousel-actions button#carousel-button-prev {
  margin-left: 20px;
}

.carousel-actions button#carousel-button-next {
  margin-right: 20px;
}

.carousel-item-hidden{
  display: none;
}

.supportive-text{
  position: absolute;
  color: #f3eded;
  top: calc(50vh);
  margin-left: auto;
  font-family: 'Cinzel', Times, serif;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 5px;
  animation: fadeVisibility 3s;
}

.carousel-item {
  display: none;
  animation: fadeVisibility 1.8s;
}
.carousel-item-visible {
  display: block;
  color: azure;
}

.move-on-btn{
  top: calc(60vh);
}


@keyframes fadeVisibility{
  from {opacity: 0;}
  to {opacity: 1;}
}

img{
  width: 50px;
  
}