.circle {
  position: absolute;
  height: 55px;
  box-shadow: 1px 1px 5px #f3eded;
  width: 55px;
  background-color: #ffe99a;
  border-radius: 50%;
  top: calc(40vh);
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  animation: zoom-in-zoom-out 10s ease infinite;
}

/* animation */
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0.7, 0.7);
  }

  50% {
    transform: scale(2.5, 2.5);
  }

  100% {
    transform: scale(0.7, 0.7);
  }
}

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Poppins", sans-serif;
}

body {
  display: block;
  background: #ac5f6a;
  min-height: 100vh;
}


.content h2 {
  color: #fff;
  font-size: 5em;
  position: absolute;
  top: calc(20vh);
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 0.5px #e7e9ff;
}

.content h2:nth-child(2) {
  color: #959BDA;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {

  0%,
  100% {
    clip-path: polygon(0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%);
  }
}

@media (min-width:320px) and (max-width:639px){
  .content h2 {
    font-size: 3em;
  }
  button{
    margin-top: 5rem;
  }
}

.carousel-item-visible{
  font-family: Prata, Helvetica, sans-serif;
  color: #fff;
  font-size: 0.9em;
  text-align:center;
  width: calc(60vw);
}

button{
  cursor: pointer;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 0.7px solid white;
  background-color: transparent;
  color: white;
}

button:active{
  background-color: #ffe99a;
  opacity: 0.8;
}

.info-carousel{
  display: flex;
  position: absolute;
  top: calc(55vh);
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: calc(70vw);
}


.carousel-actions button#carousel-button-prev {
  margin-left: 20px;
}

.carousel-actions button#carousel-button-next {
  margin-right: 20px;
}

.carousel-item-hidden{
  display: none;
}

.carousel-item {
  display: none;
  animation: fadeVisibility 0.5s;
}
.carousel-item-visible {
  display: block;
}


@keyframes fadeVisibility{
  from {opacity: 0;}
  to {opacity: 1;}
}